$button-width: 41px;
$button-height: 28px;

.button-component {
  font-size: 0.875rem;
  width: $button-width;
  height: $button-height;
  line-height: $button-height;
  text-align: center;
  background-color: #F44744;
  cursor: pointer;
  &.button-component-clicked {
    background-color: black;
  }
}

