@import '../common/variables.css';

.gallery-component {
  overflow: hidden;
  .gallery-wrapper {
    max-width: 100%;
    margin: 0 auto;
  }
  .gallery-more-btn {
    width: 80px;
    position: fixed;
    bottom: $footer-height;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}
