@import '../../common/variables.css';

.content-component {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: -9999;
  padding-top: $header-height;
  padding-bottom: $footer-height;
}

