@import './common/variables.css';

$inputWidth: 305px;
$buttonWidth: 272px;

.login-component {
  width: 177vh;
  min-width: 100%;
  height: 100vh;
  min-height: 600px;
  background-image: url('/static/images/login/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: $header-height;
  padding-bottom: $footer-height;
  margin-top: -$header-height;
  .login-wrapper {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    .login-main {
      background-image: url('/static/images/login/login-caption.png');
    }
    .join-main {
      background-image: url('/static/images/login/join-caption.png');
    }
    .login-main,
    .join-main {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 15px 15px 15px;
      background-color: rgba(0, 0, 0, 0.5);
      background-repeat: no-repeat;
      /* TODO: RWD for caption. */

      .login-form {
        max-width: 100%;
        display: flex;
        padding: 20px 10px;
        background-color: rgba(255, 255, 255, 0.5);
        flex-direction: column;
        align-items: center;
      }
      .login-text {
        margin-bottom: 15px;
        text-align: center;
        line-height: 20px;
      }
      input {
        width: $inputWidth;
        max-width: 100%;
        height: 55px;
        background: none;
        border: none;
        padding: 0 25px;
        color: white;
        background-image: url('/static/images/login/input.png');
        background-size: 100% 100%;
      }
      button {
        width: $buttonWidth;
        max-width: 100%;
        height: 45px;
        background: none;
        border: none;
        margin-top: 10px;
        line-height: 45px;
        text-align: center;
        cursor: pointer;
        &.login-submit {
          background-color: #E93F3F;
        }
        &.login-facebook {
          height: 66px;
          line-height: 66px;
          margin-bottom: 10px;
          background-image: url('/static/images/login/facebook.png');
          background-size: 100% 100%;
        }
        &.login-goto-join {
          background-color: #A96F3D;
        }
      }
    }
  }
}
