@import 'common/variables.css';

body {
  font-family: $text-font-family;
  color: $text-color-primary;
  font-size: $text-font-rootsz;
  background-color: #fafafa;
  background-color: #E6E6FA;
}

body * {
  box-sizing: border-box;
}

/* Prevent default styles when they are on focused */
textarea,
input,
button,
select {
  outline: none;
}

/* Customize for bootstrap. */
.container,
.container-fluid,
.row,
[class*="col-"],
[class*="col-"] > :first-child {
  height: 100%;
}

