$likebtn-height: 30px;

.view-like-component {
  height: $likebtn-height;
  line-height: $likebtn-height;
  * {
    display: inline-block;
    cursor: pointer;
  }
  .view-like-count {
    text-align: right;
    padding-right: 5px;
  }
  .view-like-btn {
    width: $likebtn-height;
    height: $likebtn-height;
  }
}

