@import '../../Common/Styles/Mixins.css';
@import '../../Common/Styles/Variables.css';
@import '../../Common/Styles/RWD.css';

.personal-summary-component {
  position: relative;
  height: $sm-personal-summary-height;
  width: 100%;
  @media (width >= $summary-boundary) {
    height: $personal-summary-height;
  }

  .personal-summary-main {
    position: relative;
    margin-top: $sm-personal-summarymain-margin;
    @media (width >= $summary-boundary) {
      margin-top: $personal-summarymain-margin;
    }
    .personal-summary-profilebg {
      max-width: 100%;
      width: $sm-personal-profilebg-width;
      height: $sm-personal-profilebg-height;
      margin: $sm-personal-profilebg-margin auto;
      @media (width >= $summary-boundary) {
        width: $personal-profilebg-width;
        height: $personal-profilebg-height;
        margin: $personal-profilebg-margin auto;
      }
      @mixin fullbg '/static/images/personal/personal-profile-bg.png';
    }
    .personal-summary-profile {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .personal-summary-profile-left {
      }
      .personal-summary-profile-right {
        .button-component {
          float: right;
        }
        .photo-uploader-component {
          float: right;
        }
      }
    }
    .personal-summary-name {
      font-weight: bold;
      text-align: center;
      padding-top: $personal-profilename-padding;
    }
  }
  .personal-summary-fg {
    position: absolute;
    left: 0;
    top: $sm-personal-fg-top;
    height: $sm-personal-fg-height;
    width: 100%;
    @media (width >= $summary-boundary) {
      top: $personal-fg-top;
      height: $personal-fg-height;
    }
    @mixin fullbg '/static/images/personal/personal-fg.png';
  }
}

