$photoWidth: 40px;

.people-list-component {
}
  
.modal {
  .people-list-item {
    margin: 5px 0;
    .people-list-item-photo {
      border-radius: 50%;
      width: $photoWidth;
      height: $photoWidth;
    }
    .people-list-item-name {
      color: white;
      margin-left: 10px;
      text-decoration: none;
    }
    .button-component {
      float: right;
      margin: 6px 0;
    }
  }
}
