@import 'common/variables.css';

body {
  font-family: $text-font-family;
  color: $text-color-primary;
}

body * {
  box-sizing: border-box;
}

/* Customize for bootstrap. */
.container,
.container-fluid,
.row,
[class*="col-"],
[class*="col-"] > :first-child {
  height: 100%;
}

