@define-mixin centering {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

@define-mixin fullbg $url {
  background-image: url($(url));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

