@define-mixin centering $x, $y {
  @if $x == true {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  @if $y == true {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

