@import '../../common/variables.css';
@import '../../common/rwd.css';

.brand-component {
  .brand {
    height: 0;
    @media (width >= $show-brand-boundary) {
      height: $header-height;
    }
    &.brand-always-show {
      height: $header-height !important;
    }
  }
}

