@import '../../common/rwd.css';

.list-component {
  width: 100%;
  height: 100%;
  @media (width >= $show-brand-boundary) {
    width: auto;
  }
  .list-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    .list-item-wrapper {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 300ms ease;
      @media (width >= $show-brand-boundary) {
        margin: 0 10px;
      }
      &:hover {
        background-color: #b3b3b3;
      }
      &.list-item-may-hide {
        @media (width >= $show-brand-boundary) {
          display: none;
        }
      }

      .list-item {
        height: 40px;
        width: 40px;
        &.list-item-home {
          border-radius: 50%;
        }
      }
    }
  }
}
