@import '../common/mixins.css';
@import '../common/variables.css';

.personal-summary-component {
  position: relative;
  height: $personal-summary-height;
  width: 100%;
  .personal-summary-main {
    position: relative;
    margin-top: $personal-summarymain-margin;
    .personal-summary-profilebg {
      width: $personal-profilebg-width;
      height: $personal-profilebg-height;
      max-width: 100%;
      margin: $personal-profilebg-margin auto;
      @mixin fullbg '/static/images/personal/personal-profile-bg.png';
    }
    .personal-summary-profile {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: table-row;
      > * {
        display: table-cell;
        vertical-align: middle;
      }
      .personal-summary-profile-left {
      }
      .personal-summary-profile-right {
        .button-component {
          float: right;
        }
        .photo-uploader-component {
          float: right;
        }
      }
    }
    .personal-summary-name {
      text-align: center;
      padding-top: $personal-profilename-padding;
    }
  }
  .personal-summary-fg {
    position: absolute;
    left: 0;
    top: $personal-fg-top;
    height: $personal-fg-height;
    width: 100%;
    @mixin fullbg '../../images/personal/personal-fg.png';
  }
}

