$likebtn-height: 30px;

.view-component {
  position: relative;
  display: inline-block;
  padding: 5px;
  .view-like {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: $likebtn-height;
    line-height: $likebtn-height;
    * {
      display: inline-block;
    }
    .view-count {
      text-align: right;
      padding-right: 5px;
      cursor: default;
    }
    .view-likebtn {
      width: $likebtn-height;
      height: $likebtn-height;
      cursor: pointer;
    }
  }
}

